.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    height: 80vh;

}
.header{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: rgb(207, 205, 205);
    padding: 20px;
    height: 10vh;
}
.main{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 8;
    background-color: blanchedalmond;
    height: 80vh;
    width: 100vw;
}

.aside_part{
    display: grid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: aquamarine;
    width: 30vw;
}
.main_part{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 70vw;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
.more{
    background-color: rgb(228, 38, 38);
    margin: 10px;  
}
.more3{
    background-color: rgb(228, 38, 38);
    margin: 10px;
}
.footer{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: rgb(207, 205, 205);
    width: 100vw;
}
.foot1{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: white;
    width: 20vw;
    height: 10vh;
}
.foot2{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: white;
    width: 20vw;
    height: 10vh;
}
.foot3{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: white;
    width: 20vw;
    height: 10vh;
}
.foot4{
    display: grid;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: white;
    width: 20vw;
    height: 10vh;
}